name: Manual Build and Release

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Release tag to push (latest, stable or custom)"
        required: false
        default: "latest"

env:
  CACERT_CONTENT: ${{ secrets.CA_CERT }}
  CACERT: custom-ca.crt

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

      - name: Read stable Selenium version
        id: selenium_version
        run: |
          SELENIUM_VERSION=$(yq eval '.stable.version' .selenium-versions/versions.yaml)
          echo "Using stable Selenium version: $SELENIUM_VERSION"
          echo "version=$SELENIUM_VERSION" >> $GITHUB_OUTPUT

      - name: Login to quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set dynamic tags
        run: |
          echo "DATE_TAG=$(date +'%Y%m%d')" >> $GITHUB_ENV
          if [[ -z "${{ github.event.inputs.release_tag }}" ]]; then
            echo "RELEASE_TAG=latest" >> $GITHUB_ENV
          else
            echo "RELEASE_TAG=${{ github.event.inputs.release_tag }}" >> $GITHUB_ENV
          fi

      - name: Prepare docker build metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            quay.io/rh_integration/selenium-standalone-chrome
          tags: |
            type=raw,value=${{ env.RELEASE_TAG }}
            type=raw,value=${{ env.DATE_TAG }}

      - name: Echo CaCert content to file
        run: echo "$CACERT_CONTENT" > $CACERT

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: |
            customca=${{ env.CACERT }}
            SELENIUM_VERSION=${{ steps.selenium_version.outputs.version }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          push: true
          provenance: false
